.container {
  min-height: 10vh;
  padding: 0 0.5rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black; */
  background-color: #2a2b33;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 10rem;
  margin-right: 10em;
  padding-top: 0.5rem;
  color: #cf9962;
}

.treeitems {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  color: #cf9962;
}

.items {
  margin-right: 1.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
